<!DOCTYPE html>
<html>
  <head>
    <title>Edit Dog Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Edit <%=dog.name%>'s Info</h1>

    <%- include ../partials/loggedInNav.ejs%> 
      
    </header>
    <main>
      <h2>Dog's Attributes:</h2>
      <form action="/dogs/<%=dog._id%>?_method=PUT" method="post">


        <label>Name: </label><input type="text" value="<%=dog.name%>" name="name"/>
        <label>Gender: </label><select name="gender" value="<%=dog.gender%>">
                                 <option value="male">Male</option>
                                 <option value="female">Female</option>
                                </select><br/>
        <label>Breed: </label><input type="text" value="<%=dog.breed%>" name="breed"/>
        <label>Age: </label><input type="number" value="<%=dog.age%>" min="0" name="age"/><br/>
        <label>Image URL: </label><input type="text" value="<%=dog.img%>" name="img"/><br/>
        <label>Description: </label><textarea type="text" name="description"><%=dog.description%></textarea><br/>
        <input type="submit" value="Update Dog"/>
      </form>
    </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>


