<!DOCTYPE html>
<html>
  <head>
    <title>Dog Show Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1><%=dog.name%> of <%=user.name%></h1>
    </header>

<%  if(isLogged===true){%>
    <%- include ../partials/loggedInNav.ejs%>
    <%}else{%>
    <%- include ../partials/loggedOutNav.ejs%>
    <%}%>
    <main>
      <section>
        <img class="show" src="<%=dog.img%>"/><br/>
        <div class="flex-container">
        <li class="flexbox"><u>Name</u>: <b><%=dog.name%></b></li>
        <li class="flexbox"><u>Owner</u>: <b><%=user.name%></b></li>
        <li class="flexbox"><u>Gender</u>: <b><%=dog.gender%></b></li>
        <li class="flexbox"><u>Breed</u>: <b><%=dog.breed%></b></li>
        <li class="flexbox"><u>Age</u>: <b><%=dog.age%></b></li>
        <li class="flexbox"><u>Description</u>: <b><%=dog.description%></b></li>
        </div>
      </section>
        <form id="requestingBox" action="/users/<%=user._id%>/request" method="POST">
            <input class="hideVal" type="text" name="dogId" value=<%=dog._id%>>
            <input class="hideVal" type="text" name="name" value=<%=dog.name%>>
            <input class="hideVal" type="text" name="requestorName" value=<%=name%>>
            <input class="hideVal" type="text" name="requestorEmail" value=<%=email%>>
            <input class="hideVal" type="text" name="requestorPhone" value=<%=phone%>>
            <input class="hideVal" type="text" name="requestorLocation" value=<%=location%>>
            <input class="hideVal" type="text" name="requestorUsername" value=<%=username%>>

            <button type="submit">Request</button>
        </form>
    </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>