<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1><%=dog.name%> of <%=user.name%></h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/dogs">Dogs Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <img width= 400px src="<%=dog.img%>"/> <br/>
        Name: <%=dog.name%> <br/>
        Owner: <%=user.name%> <br/>
        Gender: <%=dog.gender%> <br/>
        Breed:<%=dog.breed%> <br/>
        Age: <%=dog.age%> <br/>
        Description: <%=dog.description%>
      </section>



    </main>
  </body>
</html>