<!DOCTYPE html>
<html>
  <head>
    <title>User Show Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Show Page for <%=user.name%></h1>
    </header>

<%  if(isLogged===false){%>
    <%- include ../partials/loggedOutNav.ejs%>
    <%}else{%>
    <%- include ../partials/loggedInNav.ejs%>
    <%}%>

    <main>
      <section>
        <h2>User Attributes:</h2>
        <ul>
          <li>Name: <%=user.name%></li>
        </ul>
      </section>
      <section>
        <h2>Dogs owned by this user:</h2>
        <ul>
          <% for (let i = 0; i < user.dogs.length; i++) {%>
            <li><a href="/dogs/<%=user.dogs[i]._id%>"><%=user.dogs[i].name%></a>
                <form action="/dogs/<%=user.dogs[i]._id%>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>
                <a href="/dogs/<%=user.dogs[i]._id%>/edit">Edit</a>

            </li>

          <%}%>
        </ul>
      </section>
      <section>
        Requests:
        <ul>
            <% for (let i = 0; i < request.requests.length; i++) {%>
            <li>
                Name: <%=request.requests[i].name%><br/>
                Username: <%=request.requests[i].username%><br/>
                Email: <%=request.requests[i].email%><br/>
                Phone: <%=request.requests[i].phone%><br/>
                Location: <%=request.requests[i].location%>
                

            </li>

          <%}%>
        </ul>
      </section>

        <a href="/dogs/new"> Add a dog </a>


      <section>
          <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
              <input type="submit" value="Delete User"/>
          </form>
      </section>
      <section>
          <a href="/users/<%=user._id%>/edit">Edit</a>
      </section>
    </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
